<div class="absolute z-30 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center" style="@Style">
    <DealerChipIcon Class="text-warning" />
</div>

@code {
    [Parameter] public string Style { get; set; } = "";
}