<div class="absolute z-30 -translate-x-1/2 -translate-y-1/2 flex items-center gap-1" style="@Style">
    <CasinoChipIcon/>
    <p class="font-bold text-lg text-accent">$@Commitment</p>
</div>

@code {
    [Parameter] public int Commitment { get; set; }
    [Parameter] public string Style { get; set; } = "";
}