@using PokerAppFrontend.Models

<div class="absolute @Class z-30 flex gap-3 items-center justify-center">
    @{
        var c1 = Player?.Hole?.Count > 0 ? Player.Hole[0] : null;
        var c2 = Player?.Hole?.Count > 1 ? Player.Hole[1] : null;
    }
    <PokerCard Card="c1" UsePlaceholderWhenNull="@(c1 is null)"/>
    <PokerCard Card="c2" UsePlaceholderWhenNull="@(c2 is null)"/>
</div>

@code {
    [Parameter] public PlayerDto? Player { get; set; }
    [Parameter] public string Class { get; set; } = "";
}