@using PokerAppFrontend.Enums
<div class="absolute z-30 -translate-x-1/2 -translate-y-1/2 text-sm lg:text-lg" style="@Style">
    <p class="font-bold uppercase @(IsWinner ? "text-danger" : "text-accent")">
        @(ToHandRankText)
    </p>
</div>

@code {
    [Parameter] public HandRank HandRank { get; set; }
    [Parameter] public bool IsWinner { get; set; }
    [Parameter] public string Style { get; set; } = "";

    private string ToHandRankText => HandRank switch
    {
        HandRank.HighCard => "HIGH CARD",
        HandRank.OnePair => "ONE PAIR",
        HandRank.TwoPair => "TWO PAIR",
        HandRank.ThreeOfAKind => "THREE OF A KIND",
        HandRank.Straight => "STRAIGHT",
        HandRank.Flush => "FLUSH",
        HandRank.FullHouse => "FULL HOUSE",
        HandRank.FourOfAKind => "FOUR OF A KIND",
        HandRank.StraightFlush => "STRAIGHT FLUSH",
        HandRank.Unknown => "UNKNOWN",
        _ => throw new ArgumentOutOfRangeException()
    };

}