@using PokerAppFrontend.Enums

<div
    class="absolute left-1/2 -translate-x-1/2 -translate-y-1/2 inline-block w-max max-w-none !whitespace-nowrap pointer-events-none select-none"
    style="@Style">
    <p class="font-bold @(IsWinner ? "text-danger animate-pulse" : "text-accent") text-sm lg:text-lg tracking-wide drop-shadow">
        @ToHandRankHtml
    </p>
</div>

@code {
    [Parameter] public HandRank HandRank { get; set; }
    [Parameter] public bool IsWinner { get; set; }
    [Parameter] public string Style { get; set; } = "";

    private string ToHandRankText => HandRank switch
    {
        HandRank.HighCard => "HIGH CARD",
        HandRank.OnePair => "ONE PAIR",
        HandRank.TwoPair => "TWO PAIR",
        HandRank.ThreeOfAKind => "THREE OF A KIND",
        HandRank.Straight => "STRAIGHT",
        HandRank.Flush => "FLUSH",
        HandRank.FullHouse => "FULL HOUSE",
        HandRank.FourOfAKind => "FOUR OF A KIND",
        HandRank.StraightFlush => "STRAIGHT FLUSH",
        HandRank.Unknown => "UNKNOWN",
        _ => throw new ArgumentOutOfRangeException()
    };

    private MarkupString ToHandRankHtml =>
        (MarkupString)ToHandRankText.Replace(" ", "&nbsp;");

}