@using PokerAppFrontend.Models

<div
    class="absolute @Class z-30 p-1 flex items-center justify-between gap-2 @(IsFolded ? "opacity-60 grayscale contrast-75" : "")">
    <div class="relative h-12 w-12 rounded-full border-2 border-accent grid place-items-center text-accent">
        @if (Player?.IsBot == true)
        {
            <Blazicon Svg="Lucide.Bot" />
        }
        else
        {
            <Blazicon Svg="Lucide.UserRound" />
        }

        @if (IsLocal)
        {
            <RadzenBadge BadgeStyle="BadgeStyle.Info" Text="Info"
                         class="absolute top-[-50%] left-[-50%]">YOU</RadzenBadge>
        }
    </div>

    <div class="w-[7rem] p-2 bg-background/70 shadow-sm rounded-lg">
        <div class="w-full flex items-center gap-2">
            <p class="text-xs text-muted-foreground truncate">@Player?.Name</p>
            @if (IsFolded)
            {
                <RadzenBadge BadgeStyle="BadgeStyle.Secondary" Text="Secondary">FOLD</RadzenBadge>
            }
        </div>
        <p class="text-lg font-bold">$0.00</p>
    </div>
</div>

@code {
    [Parameter] public PlayerDto? Player { get; set; }
    [Parameter] public bool IsLocal { get; set; }
    [Parameter] public bool IsFolded { get; set; }
    [Parameter] public string Class { get; set; } = "";
}