@page "/"
@using PokerAppFrontend.Components.Shared
@inject DialogService DialogService

<div class="h-screen flex flex-col justify-center items-center space-y-6">
    <div class="space-y-4 text-center">
        <h1 class="text-5xl font-bold text-balance text-white">
            Lobby
        </h1>
        <p class="text-white text-lg">Create a new room or join an existing game</p>
    </div>

    <div class="text-white flex space-x-6 mb-8 opacity-40">
        <Blazicon Svg="Lucide.Spade"></Blazicon>
        <Blazicon Svg="Lucide.Club"></Blazicon>
        <Blazicon Svg="Lucide.Diamond"></Blazicon>
        <Blazicon Svg="Lucide.Heart"></Blazicon>
    </div>

    <div class="max-w-2xl p-12 shadow-md rounded-md bg-background flex flex-col">
        <div
            class="flex gap-6 pb-6 relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-px after:bg-gradient-to-r after:from-transparent after:via-gray-300 after:to-transparent">
            <RadzenButton Text="Create Room" Click="OpenCreateRoomDialog" ButtonStyle="ButtonStyle.Primary"
                          Size="ButtonSize.Large" Class="flex-1"/>
            <RadzenButton Text="Join Room" Click="OpenJoinRoomDialog" ButtonStyle="ButtonStyle.Secondary"
                          Size="ButtonSize.Large" Class="flex-1"/>
        </div>

        <p class="pt-6 text-sm text-center text-muted-foreground">
            Ready to play? Create a room and invite your friends or join an existing game with a room code.
        </p>
    </div>
</div>

@code {

    async Task OpenCreateRoomDialog()
    {
        await DialogService.OpenAsync<CreateRoomDialog>("Create room");
    }

    async Task OpenJoinRoomDialog()
    {
        await DialogService.OpenAsync<JoinRoomDialog>("Join room");
    }

}